.a__header {
  background-color: black;
  height: 50px;
  
  h1{
    color: white;
    font-size: 40px;
    margin: auto 0;
  }
}

.a__edit {
  width: 320px;
  margin: 20px auto;
  
  h2{
    font-size:30px;
  }
  
  p{
    margin-bottom: 3px;
  }
  
  input {
    width: 320px;
    height: 40px;
    margin-bottom: 10px;
  }
  
  textarea {
    width: 320px;
    height: 250px;
    margin-bottom: 20px;
  }
  
  .b__button{
    a:last-child{
      float: right;
    }
  }
}

.a__update {
  width: 320px;
  margin: 20px auto;
  h2{
    font-size:30px;
  }
  input {
    width: 320px;
    height: 40px;
    margin-bottom: 10px;
  }
  textarea {
    width: 320px;
    height: 250px;
    margin-bottom: 20px;
  }
  
  .b__button{
    a{
      &:nth-of-type(2){
        float: right;
      }
      &:last-child{
        float: right;
      }
    }
  }
}

.a__todolist{
  margin: 20px auto 0 auto;
  width: 320px;
  height: auto;
  
  .b__head{
    height: 100%;
    height: 50px;
    
    span{
      font-size: 30px;
      margin-right: 20px;
    }
    
    a{
      float: right;
    }
  }
  
  div{
    margin-bottom: 10px;
  }
}

.a__todo{
  margin-left: 15px;
  
    div{
      
      a{
        float: right;
      }
    }
    .description{
    }
}
